<footer id="footer" class="dark">
    <div class="container">
        <div class="footer-widgets-wrap clearfix">
            <div class="col_three_fifth">
                <div class="widget widget_links clearfix" style="letter-spacing: 2px;font-family: STLiti,STKaiti;">
                    <span style="font-size: 20px;">“中华寻根网”</span><br/><br/>
                    <span style="font-size: 18px;">&nbsp;&nbsp;是以提供姓氏源流和家谱资源服务为核心、方便海内外华人寻根问祖活动的网络平台。
                                  “中华寻根网”记录各姓家族世系、历史、反映中华民族生息、繁衍、迁移、奋斗的历程，
                                                            目前提供500多个姓氏源流、500多部家谱和6000种其他文献的阅览，以及自建家谱、交流联谊的互动服务。<br/></span>
                    <span style="font-size: 18px;">&nbsp;&nbsp;“中华寻根网”是国家图书馆与澳门基金会开展的文化合作项目。衷心感谢澳门特区政府、澳门基金会和全国政协常委廖泽云先生的支持。
                    </span>
                </div>
            </div>
            <div class="col_two_fifth col_last">
                <div class="widget widget_links clearfix" align="right">
                    <span style="font-size: 16px; font-weight: 600">寻根导航</span><br/><br/>
                    <ul>
                        <li><a href="http://codex.wordpress.org/">台湾地区家谱联合目录数据库</a></li>
                        <li><a href="http://wordpress.org/support/forum/requests-and-feedback">家族谱牒文献数据库_台北故宫</a></li>
                        <li><a href="http://wordpress.org/extend/plugins/">书目检索系统_国家图书馆</a></li>
                        <li><a href="http://wordpress.org/support/">数字图书馆推广工程.家谱</a></li>
                        <li><a href="http://wordpress.org/extend/themes/">家谱数据库_上海图书馆</a></li>
                        <li><a href="http://wordpress.org/news/">中国海内外宗亲总会</a></li>
                        <li><a href="/morelink" style="color: #9c721d;">更多>></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
        <div class="container clearfix">
            <div class="col_half" style="color:#EEE;letter-spacing: 2px;">
                京ICP备05014420号<br/>
                <span style="color: #9c721d;">© Copyright</span>&nbsp;&nbsp;&nbsp;&nbsp;中华寻根网.&nbsp;&nbsp;&nbsp;&nbsp;All Rights Reserved.<br>
            </div>
            <div class="col_half col_last tright">
                <br/>
                <div class="copyright-links" style="color: #EEEEEE;letter-spacing: 1px;"><a href="#">关于我们</a> / <a href="#">版权声明</a> / <a href="#">联系我们</a> / <a href="#">帮助</a></div>
            </div>
        </div>
    </div><!-- #copyrights end -->
</footer>
