<head>
    <meta charset="utf-8">
    <!--&lt;!&ndash;<meta name="renderer" content="ie-stand">&ndash;&gt;<360强制极速模式>-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--<meta http-equiv="x-Content-Security-Policy" content="sandbox; default-src 'none'; img-src 'self'; style-src 'self';">-->
    <link rel="shortcut icon" href="/img/favico.png">
    <title>中华寻根网</title>
    <meta name="description" content="">
    <meta name="author" content="LibraryWeb" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="/css/swiper.css" type="text/css"/>
    <link rel="stylesheet" href="/css/dark.css" type="text/css"/>
    <link rel="stylesheet" href="/css/font-icons.css" type="text/css"/>
    <link rel="stylesheet" href="/js/fontawesome/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="/css/animate.css" type="text/css"/>
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css"/>
    <link rel="stylesheet" href="/css/responsive.css" type="text/css"/>
    <link rel="stylesheet" href="/css/normalize.css" type="text/css"/>
    <script src="/js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
