<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zh-CN"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="zh-CN"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="zh-CN"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="zh-CN"> <!--<![endif]-->
{%include 'head.html' %}
<link rel="stylesheet" type="text/css" href="/rs-plugin/css/settings.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/rs-plugin/css/layers.css">
<link rel="stylesheet" type="text/css" href="/rs-plugin/css/navigation.css">
<style>
    .revo-slider-button-text {
        /*font-family: 'beatyFont';*/
        font-weight: 800;
        font-size: 1.2em;
        text-shadow: 4px 3px 5px rgba(0, 0, 0, 0.8);
    }

    .revo-slider-button-text:hover {
        text-shadow: none;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .revo-slider-emphasis-text {
        font-size: 3.6em;
        font-weight: 600;
        letter-spacing: .15em;
        font-family: beatyFont;
        font-style: italic;
        /*font-family: 'Raleway', sans-serif;*/
        padding: 15px 20px;
        color: #FFFFFF;
        text-shadow: 6px 4px 5px rgba(0, 0, 0, 0.5);
        /*border-top: 2px solid #FFF;*/
        /*border-bottom: 2px solid #FFF;*/
    }

    .revo-slider-middle-text {
        font-size: 2.4em;
        font-family: beatyFont;
        font-style: italic;
        letter-spacing: .15em;
        text-shadow: 6px 4px 5px rgba(0, 0, 0, 0.5);
        color: #FFFFFF;
        font-weight: 600;
    }

    .revo-slider-desc-text {
        font-size: 2.2em;
        font-weight: 600;
        letter-spacing: .15em;
        font-family: 'beatyFont';
        font-style: italic;
        color: #FFFFFF;
        text-shadow: 5px 3px 5px rgba(0, 0, 0, 0.5);
    }

    .revo-slider-tp-text {
        font-size: 1.2em;
        font-weight: 500;
        letter-spacing: .1em;
        font-family: 'beatyFont';
        color: #FFFFFF;
        position: relative;
        top: 42px;
        left: 2px;
    }

    .revo-slider-tp-small-text {
        font-size: .85em;
        font-weight: 500;
        letter-spacing: .06em;
        font-family: 'beatyFont';
        color: #111111;
        position: relative;
        top: 16px;
        left: 2px;
    }

    .tp-video-play-button {
        display: none !important;
    }

    .tp-caption {
        white-space: nowrap;
    }

    p2 {
        width: 220px;
        height: 58px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }

    .name1 {
        color: rgba(51, 51, 51, 0.9);
        font-size: 4em;
        font-family: cursive;
        font-weight: 600;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 20% 0;
        position: absolute;
        top: 0;
        cursor: pointer;
        left: 0;
        text-shadow: 3px 5px 16px rgba(0, 0, 0, 0.5);
    }

    .name2 {
        color: darkgrey;
        font-size: 1.2em;
        font-weight: 600;
        width: 100%;
        height: 100%;
        text-align: center;
        font-style: italic;
        padding: 75% 0 0 0;
        position: absolute;
        cursor: pointer;
        left: 0;
        top: 0;
    }

    .book1 span {
        color: #FFFFFF;
        font-size: 1.5em;
        font-weight: 600;
        font-family: cursive;
        width: 22px;
        height: 240px;
        display: table-caption;
        line-height: 22px;
        overflow: hidden;
        word-break: break-all;
        margin: 0 .06em;
    }

</style>

<body class="stretched" oncontextmenu=self.event.returnValue=false onselectstart="return false" data-loader="7"
      data-loader-color="#9c721d;">
<div id="wrapper" class="clearfix">
    <header id="header" class="transparent-header full-header" data-sticky-class="not-dark"
            style="border-bottom: 2px solid rgba(255,255,255,0.1)">

        <div id="header-wrap">

            <div class="container clearfix">

                <div id="primary-menu-trigger" style="padding-right:60px;"><i class="icon-reorder"></i></div>

                <!-- Logo
                ============================================= -->
                <div id="logo" style="display:flex;">
                    <a href="index.html" class="standard-logo" data-mobile-logo="img/114.png"><img src="img/logo-b.png"
                                                                                                   alt="中华寻根网"><span
                        class="revo-slider-tp-text">中华寻根网</span></a>
                    <a href="index.html" class="retina-logo" data-mobile-logo="img/228.png" style="display: flex;"><img
                        src="img/logo-b.png" alt="中华寻根网"><span class="big revo-slider-tp-text">中华寻根网</span><span
                        class="small revo-slider-tp-small-text">中华寻根网</span></a>
                </div><!-- #logo end -->

                {% if userId != '' %}
                <div id="top-account" class="top-links">
                    <ul>
                        <li><a href="/user"><i class="icon-user"></i></a>
                            <ul class="top-link-section">
                                <li><a href="#">个人中心</a></li>
                                <li><a href="#">消息中心 <span class="badge pull-right">5</span></a></li>
                                <li><a href="#">退出登录 <i class="icon-signout pull-right"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                {% else %}
                <div id="top-account" class="top-links">
                    <ul>
                        <li><a href="/login"><i class="icon-guest"></i></a></li>
                    </ul>
                </div>
                {% endif %}
                <!-- Primary Navigation
                ============================================= -->
                <nav id="primary-menu">
                    <ul class="nopadding nomargin">
                        {% if index %}
                        <li class="current"><a href="/">首页</a></li>
                        {% else %}
                        <li><a href="javascript:void(0)" onclick="gotoView('/')">首页</a></li>
                        {% endif %}

                        {% for column in columns %}
                        {%if column.hasChild && column.childShowMode == 'menu' %}
                        {%if column.url == current %}

                        <li class="current"><a href="#">{{column.name}}</a>
                            {% else %}
                        <li><a href="#">{{column.name}}</a>
                            <ul>
                                {% for child in column.childs %}
                                <li><a href="#" onclick="gotoSubView('{{child.childTable}}')">
                                    <div>{{child.childName}}</div>
                                </a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                        {% else %}
                        {%if column.url == current %}
                        <li class="current"><a href="javascript:void(0)" onclick="gotoView('{{column.url}}')">{{column.name}}</a>
                        </li>
                        {%else%}
                        <li><a href="javascript:void(0)" onclick="gotoView('{{column.url}}')">{{column.name}}</a></li>
                        {%endif%}
                        {% endif %}
                        {% endfor %}
                    </ul>
                </nav><!-- #primary-menu end -->

            </div>

        </div>
    </header>

    <section id="slider" class="slider-parallax revslider-wrap clearfix" style="min-height: 500px;">
        <div class="slider-parallax-inner">
            <div class="tp-banner-container">
                <div class="tp-banner">
                    <ul>
                        <li data-transition="slideup" data-slotamount="1" data-masterspeed="1000"
                            data-thumb="/img/index1-thumb.jpg" data-fstransition="fade" data-fsmasterspeed="1000"
                            data-fsslotamount="7" data-saveperformance="off" data-title="首页">
                            <!-- MAIN IMAGE -->
                            <!--<img src="/img/thumbs/bg2.jpg"  alt="kenburns6"  data-bgposition="left bottom" data-kenburns="on" data-duration="20000" data-ease="Linear.easeNone" data-scale="100" data-scaleend="120" data-bgpositionend="right top">-->
                            <!--&lt;!&ndash; LAYERS &ndash;&gt;-->
                            <img src="/img/main.jpg" alt="" data-bgposition="center bottom" data-kenburns="on"
                                 data-duration="30000" data-ease="Linear.easeNone" data-scale="100" data-scaleend="120"
                                 data-bgpositionend="center top">
                            <!-- LAYERS -->

                            <!-- LAYER NR. 2 -->

                            <div
                                class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text nopadding noborder uppercase"
                                data-x="-100"
                                data-y="220"
                                data-customin="x:10;y:0;z:0;rotationY:120;rotationZ:0;scaleX:0.8;scaleY:0.8;skewX:0;s:600;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 50%;"
                                data-speed="800"
                                data-start="1500"
                                data-easing="easeOutCubic"
                                data-splitin="chars"
                                data-splitout="none"
                                data-elementdelay="0.2"
                                data-endelementdelay="0.2"
                                data-endspeed="1000"
                                data-endeasing="Power4.easeIn" style="z-index: 3;white-space: nowrap;">家之有谱 犹国之有史也
                            </div>


                            <div
                                class="tp-caption customin ltl tp-resizeme revo-slider-middle-text nopadding noborder uppercase"
                                data-x="-50"
                                data-y="320"
                                data-customin="x:10;y:0;z:0;rotationY:120;rotationZ:0;scaleX:0.8;scaleY:0.8;skewX:0;s:600;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 50%;"
                                data-speed="800"
                                data-start="2800"
                                data-easing="easeOutCubic"
                                data-splitin="chars"
                                data-splitout="none"
                                data-endspeed="1000"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                data-endeasing="Power4.easeIn" style="z-index: 3;white-space: nowrap;">一部家谱
                            </div>

                            <div
                                class="tp-caption customin ltl tp-resizeme revo-slider-middle-text nopadding noborder uppercase"
                                data-x="-30"
                                data-y="360"
                                data-customin="x:10;y:0;z:0;rotationY:120;rotationZ:0;scaleX:0.8;scaleY:0.8;skewX:0;s:600;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 50%;"
                                data-speed="800"
                                data-start="3200"
                                data-easing="easeOutCubic"
                                data-splitin="chars"
                                data-splitout="none"
                                data-endspeed="1000"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                data-endeasing="Power4.easeIn" style="z-index: 3;white-space: nowrap;">就是一段被封存的家族历史回忆
                            </div>


                            <div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text"
                                 data-x="0"
                                 data-y="460"
                                 data-customin="x:-250;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                 data-speed="800"
                                 data-start="4200"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="z-index: 3; white-space: nowrap;">传承历史文化 翻阅家谱
                            </div>

                            <div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text"
                                 data-x="30"
                                 data-y="510"
                                 data-customin="x:-250;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                 data-speed="800"
                                 data-start="4600"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="z-index: 3; white-space: nowrap;">
                                开始追寻家族在历史长河中遗留的足迹吧！
                            </div>


                            <div class="tp-caption customin ltl tp-resizeme"
                                 data-x="950"
                                 data-y="335"
                                 data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                 data-speed="800"
                                 data-start="5200"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1300"
                                 data-endeasing="Power4.easeIn" style="z-index: 11;"><a href="#"
                                                                                        class="button button-border button-white button-light tright nomargin"
                                                                                        style="padding: 2px 14px 2px 24px;"><span
                                class="revo-slider-button-text" style="font-family: initial;">立即进入</span> <i
                                class="icon-angle-right icon-lg revo-slider-button-text"
                                style="position: relative;top:-2px;"></i></a></div>
                        </li>

                        <li class="dark" data-transition="slideup" data-slotamount="1" data-masterspeed="1000"
                            data-thumb="img/3-edit-thumb.jpg" data-fstransition="fade" data-fsmasterspeed="1000"
                            data-fsslotamount="7" data-saveperformance="off" data-title="数字影像馆">    <!-- MAIN IMAGE -->
                            <img src="/img/3-edit.jpg" alt="" data-bgposition="left bottom" data-kenburns="on"
                                 data-duration="20000" data-ease="Linear.easeNone" data-scale="100" data-scaleend="120"
                                 data-bgpositionend="right top">

                                <!-- LAYER NR. 2 -->
                            {% set foo = [1,2,3,4,5,6,7,8] %}
                            {% set start = 1600 %}
                            {% for i in foo %}
                            <div class="tp-caption customin ltl tp-resizeme rs-parallaxlevel-{{9-i}}"
                                 data-x="275"
                                 data-y="125"
                                 data-customin="x:0;y:-250;z:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;s:700;e:Power4.easeOutQuad;"
                                 data-speed="800"
                                 data-start="{{start}}"
                                 data-easing="easeOutCubic"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="z-index: 3; white-space: nowrap;"><img
                                src="/img/index/1-{{i}}.png" alt="家谱"></div>

                                {% set start = start + 200 %}
                            {% endfor %}

                            <div class="tp-caption customin ltl tp-resizeme revo-slider-middle-text"
                                 data-x="-50"
                                 data-y="250"
                                 data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                 data-speed="800"
                                 data-start="1200"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn"
                                 style="z-index: 11; white-space: nowrap;font-family: inherit;font-style: normal;font-weight: 400;font-size: 2.2em;">
                                数字化家谱馆
                            </div>

                            <div
                                class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
                                data-x="-50"
                                data-y="350"
                                data-customin="x:10;y:0;z:0;rotationY:120;rotationZ:0;scaleX:0.8;scaleY:0.8;skewX:0;s:600;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 50%;"
                                data-speed="800"
                                data-start="1800"
                                data-easing="easeOutQuad"
                                data-splitin="chars"
                                data-splitout="none"
                                data-elementdelay="0.2"
                                data-endelementdelay="0.2"
                                data-endspeed="1000"
                                data-endeasing="Power4.easeIn"
                                style="z-index: 11; white-space: nowrap;font-family: inherit;font-style: normal;font-size: 3em;">
                                我们在这里等你
                            </div>

                            <div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text tleft"
                                 data-x="-50"
                                 data-y="420"
                                 data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;s:800;transformPerspective:200;transformOrigin:50% 0%;"
                                 data-speed="800"
                                 data-start="2400"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn"
                                 style="z-index: 11; font-family: inherit;font-style: normal;font-size: 1.5em;font-weight: 400;">
                                将自己的足迹刻在历史的天空里
                            </div>

                            <div class="tp-caption customin ltl tp-resizeme"
                                 data-x="-50"
                                 data-y="550"
                                 data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                 data-speed="800"
                                 data-start="2800"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1300"
                                 data-endeasing="Power4.easeIn" style="z-index: 11;"><a href="#"
                                                                                        class="button button-border btn-white button-light tright nomargin"
                                                                                        style="padding: 2px 14px 2px 24px;"><span
                                class="revo-slider-button-text" style="font-family: initial;">点击开启</span> <i
                                class="icon-angle-right icon-lg revo-slider-button-text"
                                style="position: relative;top:-2px;"></i></a></div>

                        </li>
                        <!-- LAYERS -->
                        <li class="dark" data-transition="zoomout" data-slotamount="1" data-masterspeed="1500"
                            data-thumb="/img/2-thumb.jpg" data-saveperformance="off" data-title="">
                            <!-- MAIN IMAGE -->
                            <img src="/img/2.jpg" alt="" data-bgposition="left bottom" data-kenburns="on"
                                 data-duration="20000" data-ease="Linear.easeNone" data-scale="100" data-scaleend="120"
                                 data-bgpositionend="right top">
                            <!-- LAYERS -->

                        </li>
                        <li class="dark" data-transition="zoomout" data-slotamount="1" data-masterspeed="1500"
                            data-thumb="/img/5-thumb.jpg" data-saveperformance="off" data-title="">
                            <!-- MAIN IMAGE -->
                            <img src="/img/5.jpg" alt="图片" data-bgposition="left botom" data-kenburns="on"
                                 data-duration="20000" data-ease="Linear.easeNone" data-scale="100" data-scaleend="120"
                                 data-bgpositionend="right top">
                            <!-- LAYERS -->

                        </li>
                    </ul>
                </div>
            </div><!-- END REVOLUTION SLIDER -->
        </div>
    </section>
    <section id="content">
        <div class="content-wrap notoppadding">
            <div class="container nopadding clearfix">
                {%for grid in grids%}
                <div class="fancy-title title-center title-dotted-border topmargin">
                    <h3 style="margin-left: 95px;"><i class="icon-double-angle-right" style="color:#D0D0D0;"></i>&nbsp;
                        <i class="icon-double-angle-right" style="color:#D0D0D0;"></i>&nbsp;&nbsp;
                                                                                                                 {{grid.name}}
                                                                                                                 &nbsp;&nbsp;<i
                            class="icon-double-angle-left" style="color:#D0D0D0;"></i>
                                                                                                                 &nbsp;<i
                            class="icon-double-angle-left" style="color:#D0D0D0;"></i>
                    </h3>
                    <div class="pull-right"><a href="/data">查看更多 <i class="icon-line-arrow-right"></i></a></div>
                </div>

                <div class="owl-carousel portfolio-carousel carousel-widget" data-margin="40" data-nav="false"
                     data-pagi="true" data-merge="true" data-lazyload="true" data-items-xxs="1" data-items-xs="2"
                     data-items-sm="4" data-items-md="6" data-items-lg="6">

                    {%for data in grid.data%}
                    <div class="oc-item">
                        <div class="product iproduct clearfix">
                            <div class="product-image">
                                <a>
                                    {% if grid.showMode == 'name' %}
                                    <img src="img/name-s.png" alt="姓氏">
                                    {% elseif grid.showMode == 'book' %}
                                    <img src="img/fengmian.jpg" alt="家谱">
                                    {% endif %}
                                </a>
                                {% if grid.contentTitle != '' %}
                                {% set tmp_title = data[grid.contentTitle] %}
                                <div class="sale-flash {{grid.showMode}}1"
                                     style="width: 100%;{% if grid.showMode == 'book' %}display: inline-flex;{% endif %}">
                                    {% if tmp_title.length < 11 %}
                                    {% if grid.showMode == 'book' %}<span>{% endif %}{{tmp_title}}{% if grid.showMode == 'book' %}</span>{%
                                    endif %}
                                    {% else %}
                                    {% set ary = [0,1,2,3,4,5] %}
                                    {% set tmp = 0 %}
                                    {% for i in ary %}
                                    {% set check = loop.index * 10 %}
                                    {% if check < tmp_title.length %}
                                    {% if grid.showMode == 'book' %}<span>{% endif %}{{tmp_title.substring(loop.index0*10, loop.index * 10)}}{% if grid.showMode == 'book' %}</span>{%
                                    endif %}
                                    {% set tmp = loop.index*10 %}
                                    {% endif %}
                                    {% endfor %}
                                    {% if grid.showMode == 'book' %}<span>{% endif %}{{tmp_title.substring(tmp, tmp_title.length)}}{% if grid.showMode == 'book' %}</span>{%
                                    endif %}
                                    {% endif %}
                                </div>
                                {% endif %}
                                {% if grid.contentSubTitle != '' %}
                                <div class="sale-flash {{grid.showMode}}2">
                                    <div>{{data[grid.contentSubTitle]}}</div>
                                </div>
                                {% endif %}

                                {% if grid.showButton == 1 %}
                                <div class="product-overlay">
                                    {% for btn in grid.buttons %}
                                    {% if btn.handleTable !== undefined && btn.handleField == undefined %}
                                    <a href="javascript:void(0)" style="width:{{100/grid.buttons.length}}%"
                                       onclick="doCallback('{{btn.handle}}','{{btn.handleTable}}','{{data._id.toString()}}','{{grid.showMode}}','_id')"><span>{{btn.title}}</span></a>
                                    {% else %}
                                    <a href="javascript:void(0)" style="width:{{100/grid.buttons.length}}%"
                                       onclick="doCallback('{{btn.handle}}','{{btn.handleTable}}','{{data[grid[btn.handleField]]}}','{{grid.showMode}}','{{btn.handleTableField}}')"><span>{{btn.title}}</span></a>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
                {%endfor%}
            </div>
        </div>
    </section>
    {% include 'footer.html' %}
</div>
{% include 'script.html' %}
<script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript" src="/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/js/private/index.js"></script>
</body>
</html>

