<footer id="footer" class="dark">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
        <div class="container clearfix">
            <div class="col_half" style="color:#EEE;letter-spacing: 2px;">
                京ICP备05014420号<br/>
                <span style="color: #9c721d;">© Copyright</span>&nbsp;&nbsp;&nbsp;&nbsp;中华寻根网.&nbsp;&nbsp;&nbsp;&nbsp;All Rights Reserved.<br>
            </div>
            <div class="col_half col_last tright">
                <br/>
                <div class="copyright-links" style="color: #EEEEEE;letter-spacing: 1px;"><a href="#">关于我们</a> / <a href="#">版权声明</a> / <a href="#">联系我们</a> / <a href="#">帮助</a></div>
            </div>
        </div>
    </div><!-- #copyrights end -->
</footer>
