
<p class="pull-left userPage hidden-xs">显示第 1 到第 <span id="current">8</span> 条记录，总共 <span id="total">8</span> 条记录</p>

<ul class="pagination pagination-normal label-primbreadcrumbary pagination-lg pull-right" hidden>
    <li><a href="javascript:void(0)" onclick="showQuestionList(1)"><i class="icon-double-angle-left icon-lg"></i></a></li>
    <li><a href="javascript:void(0)" onclick="showQuestionList(1)"><i class="icon-angle-left icon-lg"></i></a></li>
    <li><a href="javascript:void(0)" onclick="showQuestionList(1)">1</a></li>
    <li><a href="javascript:void(0)" onclick="showQuestionList(2)">2</a></li>
    <li><a href="javascript:void(0)" onclick="showQuestionList(3)">3</a></li>
    <li><a href="javascript:void(0)" onclick="showQuestionList(4)"><i class="icon-angle-right icon-lg"></i></a></li>
    <li><a href="javascript:void(0)" onclick="showQuestionList(5)"><i class="icon-double-angle-right icon-lg"></i></a></li>
</ul>

<ul class="pagination paginationshort label-primbreadcrumbary pagination-lg pull-right" hidden>
    <li><a href="javascript:void(0)" onclick="showQuestionList(1)"><i class="icon-double-angle-left icon-lg"></i></a></li>
    <li><a href="javascript:void(0)" onclick="showQuestionList(1)"><i class="icon-angle-left icon-lg"></i></a></li>
    <li><a href="javascript:void(0)" onclick="showQuestionList(1)">1</a></li>
    <li><a href="javascript:void(0)" onclick="showQuestionList(2)">2</a></li>
    <li><a href="javascript:void(0)" onclick="showQuestionList(3)">3</a></li>
    <li><a href="javascript:void(0)" onclick="showQuestionList(4)"><i class="icon-angle-right icon-lg"></i></a></li>
    <li><a href="javascript:void(0)" onclick="showQuestionList(5)"><i class="icon-double-angle-right icon-lg"></i></a></li>
</ul>

<ul class="pagination paginationnoprev label-primbreadcrumbary pagination-lg pull-right" hidden>
    <li><a href="javascript:void(0)" onclick="showQuestionList(1)"><i class="icon-double-angle-left icon-lg"></i></a></li>
    <li><a href="javascript:void(0)" onclick="showQuestionList(1)"><i class="icon-angle-left icon-lg"></i></a></li>
    <li><a href="javascript:void(0)" onclick="showQuestionList(1)">1</a></li>
    <li><a href="javascript:void(0)" onclick="showQuestionList(2)">2</a></li>
    <li><a href="javascript:void(0)" onclick="showQuestionList(3)">3</a></li>
    <li><a href="javascript:void(0)" onclick="showQuestionList(4)"><i class="icon-angle-right icon-lg"></i></a></li>
    <li><a href="javascript:void(0)" onclick="showQuestionList(5)"><i class="icon-double-angle-right icon-lg"></i></a></li>
</ul>

<ul class="pagination paginationnonext pagination-lg pull-right" hidden>
    <li><a href="javascript:void(0)" onclick="showQuestionList(1)"><i class="icon-double-angle-left icon-lg"></i></a></li>
    <li><a href="javascript:void(0)" onclick="showQuestionList(1)"><i class="icon-angle-left icon-lg"></i></a></li>
    <li><a href="javascript:void(0)" onclick="showQuestionList(1)">1</a></li>
    <li><a href="javascript:void(0)" onclick="showQuestionList(2)">2</a></li>
    <li><a href="javascript:void(0)" onclick="showQuestionList(3)">3</a></li>
    <li><a href="javascript:void(0)" onclick="showQuestionList(4)"><i class="icon-angle-right icon-lg"></i></a></li>
    <li><a href="javascript:void(0)" onclick="showQuestionList(5)"><i class="icon-double-angle-right icon-lg"></i></a></li>
</ul>

