<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
                                                    {%include 'head.html' %}
<style>
    .link-title {
        background: url(img/widget-link.png) left top no-repeat;
        display: block;
        padding: 0 3px 0 12px;
        font-size:1.1em;
    }

    .link-title a{
        color:#333;
    }

    .link-title a:hover{
        color:#9C721D;
    }

    .link-h4 {
        font-size: 1.6em;
        font-weight: 500;
        padding-top:10px;
    }

    .link-line {
        margin:10px 0;
        border-top: 1px solid #ddd;
    }

    .link-divider {
        margin:15px 0 10px 0;
    }
</style>
<link rel="stylesheet" href="/js/plugins/map/storymap.css" type="text/css"/>
<link rel="stylesheet" href="/js/plugins/map/font.georgia-helvetica.css?v1" type="text/css">
<body class="stretched sticky-footer" oncontextmenu=self.event.returnValue=false onselectstart="return false" data-loader="7" data-loader-color="#9c721d;">
<!--[if lt IE 8]>
<p class="browserupgrade">您正在使用 <strong>版本过低的</strong> 浏览器. 请到 <a href="http://browsehappy.com/">更新您的浏览器</a></p>
<![endif]-->
<div id="wrapper" class="clearfix">
    {%include 'nav.html' %}
    <section id="page-title" class="page-title-dark page-title-mini" style="background-color: #9C721D;">
        <div class="container clearfix nopadding">
            <h1>寻根导航</h1>
            <ol class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li class="active">详情</li>
            </ol>
        </div>
    </section>
    <section id="content">

        <div class="content-wrap" style="padding: 40px 0 60px 0;">

            <div class="container nopadding clearfix">

                <h4 class="nomargin">综合网站</h4>

                <div class="divider link-divider"><i class="icon-link"></i></div>

                <div class="col_one_fourth nobottommargin">
                    <ul>
                    <li class="link-title"><a href="http://opac.nlc.cn/F?RN=974290762" target="_blank">书目检索系统_国家图书馆</a></li>
                    <li class="link-title"><a href="http://mylib.nlc.cn/web/guest/zhengjijiapu" target="_blank">数字图书馆推广工程.家谱_国家</a></li>
                    <li class="link-title"><a href="http://search.library.sh.cn/jiapu/" target="_blank">家谱数据库_上海图书馆</a>
                    </li>
                    <li class="link-title"><a href="http://61.175.198.133:8080/library/userservlet?meth=login&number=zt&pwd=zt8798" target="_blank">家谱全文数据库_浙江图书馆</a></li>
                    <li class="link-title"><a href="http://diglweb.zjlib.cn:8081/zjtsg/jiapu/zt_jp_out.jsp?channelid=9167" target="_blank">浙江省家谱数据库_浙江图书馆</a>
                    </li>
                    <li class="link-title"><a href="http://lib.sx.cn/ftrweb/NATION3.DLL?ListResult?SessionID=60.247.28.112&PageNum=1" taget="_blank">山西家谱_山西省图书馆</a></li>
                    <li class="link-title"><a href="http://lib.sx.cn/secdir/zjsx/jpsjk/index-jpsm.htm" target="_blank">山西省图书馆</a></li>
                    <li class="link-title"><a href="http://cm.ahlib.com:9080/ahjp/" target="_blank">安徽家谱_安徽省图书馆</a></li>
                    <li class="link-title"><a href="http://www.ahlib.com/ah/gjb/gcjp-index.htm" target="_blank">谱牒献_安徽省图书馆</a></li>
                    <li class="link-title"><a href="http://etc.cqlib.cn/local/bjxIndex.asp?cid=156" target="_blank">重庆地方家谱_重庆图书馆</a></li>
                    <li class="link-title"><a href="http://www.sxlib.com/gen.do?action=search" target="_blank">家谱书目数库_绍兴图书馆</a></li>
                    <li class="link-title"><a href="http://www.sylib.com/syjp/syjp.asp" target="_blank">上虞家谱_上虞图书馆</a></li>
                    <li class="link-title"><a href="http://218.66.169.77/was40/pdk-index.jsp" target="_blank">馆藏谱谍_泉州市图书馆</a></li>
                    </ul>
                </div>
                <div class="col_one_fourth nobottommargin">
<ul>
                    <li class="link-title"><a href="http://www.zupulu.com/ " target="_blank">族谱录</a></li>

                    <li class="link-title"><a href="http://www.hxjiapu.com/index.asp" target="_blank">华夏家谱</a></li>

                    <li class="link-title"><a href="http://www.chinaxunqin.com/home.htm " target="_blank">中华（炎黄）寻亲信息库</a></li>

                    <li class="link-title"><a href="http://www.qingyan.com/" target="_blank">常州家谱</a></li>

                    <li class="link-title"><a href="http://www.chinataiwan.org/zppd/ " target="_blank ">族谱</a></li>

                    <li class="link-title"><a href="http://www.csfqw.com/html/15/" target="_blank">姓氏族谱</a></li>

                    <li class="link-title"><a href="http://www.haixia.com/renwen/zp/" target="_blank">两岸族谱</a></li>

                    <li class="link-title"><a href="http://www.2" target="_blank">宗亲会</a></li>
                    <li class="link-title"><a href="http://sj6gt.com/sj6gt/">世界六桂堂宗亲联谊网</a></li>

                    <li class="link-title"><a href="http://mtxsyl.com/mtxsyl/" target="_blank">闽台姓氏源流网</a></li>

                    <li class="link-title"><a href="http://www.zongci.com.cn/index.html" target="_blank">闽台宗祠网</a></li>

                    <li class="link-title"><a href="http://ahexpo.org/index." target="_blank">祠堂博览</a>
                    </li>
</ul>
                </div>
                <div class="col_one_fourth nobottommargin">
<ul>
                    <li class="link-title"><a href="http://www.mnwhstq.com/was40/mtzp-index.jsp" target="_blank">闽台姓氏族谱库_泉州市图书馆</a></li>
                    <li class="link-title"><a href="http://218.66.169.77/was40/pdk-index.jsp" target="_blank">族谱目录_福州市图书馆</a></li>
                    <li class="link-title"><a href="http://202.113.20.150/jp" target="_blank">家谱研究文献数据库_南开大学</a></li>
                    <li class="link-title"><a href="http://www.pudie.com/" target="_blank">中华姓氏谱牒</a></li>
                    <li class="link-title"><a href="http://www.baixun.com/v2007/" target="_blank">百姓家谱网</a></li>
                    <li class="link-title"><a href="http://www.jiapu.com/" target="_blank">家谱网</a></li>
                    <li class="link-title"><a href="http://www.10000xing.cn/" target="_blank">万家姓</a></li>
                    <li class="link-title"><a href="http://www.zhxswhy.com/" target="_blank">洛阳中华姓氏文化园</a></li>

                    <li class="link-title"><a href="http://www.cqhakka.com/kjxs/Index.html" target="_blank">客家姓氏</a></li>

                    <li class="link-title"><a href="http://www.kmyzfamily.com/index.php" target="_blank">孔孟颜曾宗亲网</a></li>

                    <li class="link-title"><a href="http://www.cqhakka.com/kjxs/Index.html" target="_blank">客家姓氏</a></li>

                    <li class="link-title"><a href="http://www.kmyzfamily.com/index.php" target="_blank">孔孟颜曾宗亲网</a></li>

                    <li class="link-title"><a href="http://www.hxtongen.com/ " target="_blank">华夏同根</a></li>

                    </ul>
                </div>
                <div class="col_one_fourth col_last nobottommargin">
        <ul>
                    <li class="link-title"><a href="http://www.leeyan.info/cbg/" target="_blank">中华大族谱</a></li>
                    <li class="link-title"><a href="http://www.chinajiapu.com/view/index.asp" target="_blank">中国家谱网</a></li>

                    <li class="link-title"><a href="http://www.chinajzp.com/index.html" target="_blank">中华家族谱</a></li>

                    <li class="link-title"><a href="http://www.cnsurname.com/" target="_blank">华人百家姓论坛</a></li>

                    <li class="link-title"><a href="http://www.hxjiapu.com.cn/Index.aspx?&ThreadID=" target="_blank">华夏民族家谱地理信息系统</a></li>

                    <li class="link-title"><a href="http://chinazq.jimdo.com/" target="_blank">中国海内外宗亲总会</a></li>

                    <li class="link-title"><a href="http://www.youstem.com " target="_blank">族脉网</a></li>

                    <li class="link-title"><a href="http://www.chinasurname.com/" target="_blank">中华姓氏寻根网</a></li>
                    <li class="link-title"><a href="http://www.chinajzp.com/index.html" target="_blank">中华家族谱</a></li>
                    <li class="link-title"><a href="http://www.xsxgw.com/" target="_blank">江南姓氏寻根网</a></li>
                    <li class="link-title"><a href="http://www.10000xs.cn/" target="_blank">中华姓氏大全</a></li>

                    <li class="link-title"><a href="http://www.hxlt.org/zupu/zupu.asp" target="_blank">族谱</a></li>
        </ul>
                </div>

                <div class="col_full" style="padding: 50px 0 10px 0;margin:0;"><h4 class="nomargin">姓氏网站</h4></div>

                <div class="divider link-divider"><i class="icon-link"></i></div>
                <div class="col_one_fourth nobottommargin notoppadding">
                    <h4 class="nomargin link-h4">C</h4>
                    <div class="line link-line"></div>
                    <ul class="iconlist nobottommargin noleftmargin">
                        <li><h4 class="nomargin">崔</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.chinacui.com/" target="_blank">中华崔氏网</a></li>
                                 <li class="link-title"><a href="http://www.cszp.com/csjy/main.asp" target="_blank">崔氏家园</a></li>
                            </ul>
                        </li>
                         <li><h4 class="nomargin">曹</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.caoshi.net/" target="_blank">曹氏家谱查询网</a></li>
                                <li class="link-title"><a href="http://cao.21cs.cn/htdocs/index.asp" target="_blank">中国曹氏网</a></li>
                            </ul>
                        </li>
                         <li><h4 class="nomargin">陈</h4>
                            <ul>
                                 <li class="link-title"><a href="http://www.chens.org.cn/">陈氏宗亲网</a></li>
                                 <li class="link-title"><a href="http://www.zkcyh.com/">中华陈氏宗亲网</a></li>
                                 <li class="link-title"><a href="http://www.tschen.net/">台山陈氏宗亲网</a></li>
                                 <li class="link-title"><a href="http://www.chenpaiwan.cn/">陈排湾宗亲网</a></li>
                                 <li class="link-title"><a href="http://www.daymc.com/">中华义门陈</a></li>
                                 <li class="link-title"><a href="http://www.nanchens.com/index.htm">永春小岵南山陈氏宗亲网</a></li>
                                 <li class="link-title"><a href="http://www3.fitnyc.edu/gene_chin/tree/index.html">潢村陈家族谱</a></li>
                                 <li class="link-title"><a href="http://www.chen98.cn/">义门陈氏乐园</a></li>
                                 <li class="link-title"><a href="http://www.chens.org.cn/lingcun/chen.htm">凌村陈氏家谱网</a></li>
                                 <li class="link-title"><a href="http://www.jzyimenchen.com/">江州义门陈</a></li>
                                 <li class="link-title"><a href="http://www.chenxiufu.com/">五华陈氏秀甫公系宗亲联谊网</a></li>
                            </ul>
                        </li>
                         <li><h4 class="nomargin">蔡</h4>
                            <ul>
                                 <li class="link-title"><a href="http://www.caishi.org/" target="_blank">蔡氏宗亲网</a></li>
                                 <li class="link-title"><a href="http://www.chiyangmuar.org.my/" target="_blank">马来西亚蔡氏济阳公所</a></li>
                                 <li class="link-title"><a href="http://www.sncai.cn/index.asp" target="_blank">寿宁县鳌阳镇蔡氏宗亲网</a></li>
                                 <li class="link-title"><a href="http://www.caisky.com.cn/bbs/index.php" target="_blank">天下一蔡</a></li>
                                 <li class="link-title"><a href="http://www.ktw01.org/service_index.php?nid=1" target="_blank">世界柯蔡宗亲总会</a></li>
                                 <li class="link-title"><a href="http://www.cai-cn.com/index.php" target="_blank">中国蔡氏</a></li>
                            </ul>
                        </li>
                         <li ><h4 class="nomargin">常</h4>
                            <ul>
                                 <li class="link-title"><a href="http://hi.baidu.com/%B3%A3%D0%D5" target="_blank">常氏宗亲会</a></li>
                                 <li class="link-title"><a href="http://hi.baidu.com/yugongjiazu" target="_blank">常氏家族《常遇春》</a></li>
                                 <li class="link-title"><a href="http://ichangs.com/" target="_blank">常氏宗亲网</a></li>
                                 <li class="link-title"><a href="http://www.kpwsca.cn/" target="_blank">常氏宗亲</a></li>
                                 <li class="link-title"><a href="http://www.10000xing.cn/x080/#" target="_blank">常氏家谱网_万家姓</a></li>
                                 <li class="link-title"><a href="http://www.cnsurname.com/thread.php?fid=85#" target="_blank">常姓_中华百家姓论坛</a></li>
                            </ul>
                        </li>
                    </ul>
                    <h4 class="nomargin link-h4">S</h4>
                    <div class="line link-line"></div>
                    <ul class="iconlist nobottommargin noleftmargin">
                        <li ><h4 class="nomargin">苏</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.sdssmgz.com/index.asp" target="_blank">山东苏氏蒙古族</a></li>
                            </ul>
                        </li>
                        <li ><h4 class="nomargin">孙</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.sunshi.name/" target="_blank">孙氏家族</a></li>
                                <li class="link-title"><a href="http://www.zbssjp.cn/" target="_blank">般阳孙氏家谱</a></li>
                                <li class="link-title"><a href="http://www.zhonghuasunshi.com/" target="_blank">中华牛山孙氏网</a></li>
                                <li class="link-title"><a href="http://sun.cixi.org/" target="_blank">孙境网</a></li>
                                <li class="link-title"><a href="http://www.cnsuns.net/index.php" target="_blank">中华孙氏联会论坛</a></li>
                                <li class="link-title"><a href="http://www.sunjiaren.com/index.php" target="_blank">孙家人</a></li>
                            </ul>
                        </li>
                        <li ><h4 class="nomargin">单</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.ss-jz.com/" target="_blank">单氏家族</a></li>
                                <li class="link-title"><a href="http://www.ssyjh.com" target="_blank">中国单氏研究会</a></li>
                                <li class="link-title"><a href="http://blog.sina.com.cn/shanshijiazu" target="_blank">单氏家族</a></li>
                                <li class="link-title"><a href="http://www.shanjia.org/" target="_blank">单姓之家</a></li>
                                <li class="link-title"><a href="http://www.10000xing.cn/x182/" target="_blank">单氏家谱网_万家姓</a></li>
                                <li class="link-title"><a href="http://www.cnsurname.com/thread.php?fid=187" target="_blank">单姓_中华百家姓论坛</a></li>
                            </ul>
                        </li>
                    </ul>
                    <h4 class="nomargin link-h4">T</h4>
                    <div class="line link-line"></div>
                    <ul class="iconlist nobottommargin noleftmargin">

                        <li ><h4 class="nomargin">陶</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.tym.gov.cn/" target="_blank">陶渊明故里</a></li>
                            </ul>
                        </li>
                    </ul>
                    <h4 class="nomargin link-h4">W</h4>
                    <div class="line link-line"></div>
                    <ul class="iconlist nobottommargin noleftmargin">
                        <li ><h4 class="nomargin">魏</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.weiw.net/" target="_blank">魏网</a></li>
                                <li class="link-title"><a href="http://www.hnweishi.cn/" target="_blank">河南魏氏宗亲网</a></li>
                                <li class="link-title"><a href="http://jcws.hnweishi.cn/index.htm" target="_blank">金城魏氏宗亲网</a></li>
                                <li class="link-title"><a href="http://www.zhww.net/Index.asp" target="_blank">中华魏网</a></li>
                                <li class="link-title"><a href="http://www.chweis.com/index.asp" target="_blank">魏氏青年信息(澄海)交流中心</a></li>
                                <li class="link-title"><a href="http://jingxingsi.blog.sohu.com/" target="_blank">净行寺魏氏</a></li>
                                <li class="link-title"><a href="http://scwei.bokee.com/" target="_blank">四川魏氏宗亲会</a></li>
                            </ul>
                        </li>
                        <li ><h4 class="nomargin">王</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.chinawang.org/" target="_blank">中华王氏网</a></li>
                                <li class="link-title"><a href="http://www.cywszqw.com/" target="_blank">中华崇阳王氏宗亲网</a></li>
                                <li class="link-title"><a href="http://www.54wang.com/index.asp" target="_blank">王氏家谱网</a></li>
                                <li class="link-title"><a href="http://www.wang-shi.com/html/" target="_blank">全球王氏网</a></li>
                                <li class="link-title"><a href="http://www.yzwangs.com/" target="_blank">豫章王氏网</a></li>
                                <li class="link-title"><a href="http://jxw.gbzc.com/" target="_blank">中华赣鄂皖王氏宗亲联谊会</a></li>
                                <li class="link-title"><a href="http://nfws.book.topzj.com/" target="_blank">中华南方王氏</a></li>
                                <li class="link-title"><a href="http://www.wszz001.com/" target="_blank">王氏宗族网</a></li>
                            </ul>

                        </li>
                        <li ><h4 class="nomargin">吴</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.cnwu.net/" target="_blank">吴氏在线</a></li>
                                <li class="link-title"><a href="http://www.chwu.com.cn/" target="_blank">华夏吴氏</a></li>
                                <li class="link-title"><a href="http://ezwutao.uicp.net/" target="_blank">吴氏鄂州</a></li>
                                <li class="link-title"><a href="http://www.zhzdwsw.com.cn/" target="_blank">中华至德吴氏网</a></li>
                                <li class="link-title"><a href="http://blog.sina.com.cn/gytws" target="_blank">安徽左台观乐堂吴氏</a></li>
                                <li class="link-title"><a href="http://www.10000xing.cn/x006/" target="_blank">吴氏家谱网_万家姓</a></li>
                            </ul>
                        </li>
                        <li ><h4 class="nomargin">温</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.wschn.net/" target="_blank">温氏宗亲网</a></li>
                                <li class="link-title"><a href="http://wenshi.cc/index.htm" target="_blank">温氏文化网</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
                <div class="col_one_fourth nobottommargin ">

                    <h4 class="nomargin link-h4">F</h4>
                    <div class="line link-line"></div>
                    <ul class="iconlist nobottommargin noleftmargin">
                         <li ><h4 class="nomargin">冯</h4>
                            <ul>
                                 <li class="link-title"><a href="http://www.fengbbs.cn/" target="_blank">冯氏宗亲网</a></li>
                                 <li class="link-title"><a href="http://www.fenghome.cn/" target="_blank">中华冯氏网</a></li>
                                 <li class="link-title"><a href="http://worldfengshiweb.bokee.com/" target="_blank">世界冯氏宗亲会网站</a></li>
                            </ul>
                        </li>
                         <li ><h4 class="nomargin">范</h4>
                            <ul>
                                 <li class="link-title"><a href="http://www.fanzhongyan.com.cn/" target="_blank">浙江范氏宗亲网</a></li>
                                 <li class="link-title"><a href="http://blog.sina.com.cn/fzyzl" target="_blank">中华范氏宗亲网</a></li>
                                 <li class="link-title"><a href="http://www.fanwuzi.com/" target="_blank">范氏宗亲网</a></li>
                                 <li class="link-title"><a href="http://www.ahfzy.com/index/" target="_blank">范仲淹文化网</a></li>
                            </ul>
                        </li>
                    </ul>

                    <h4 class="nomargin link-h4">G</h4>
                    <div class="line link-line"></div>
                    <ul class="iconlist nobottommargin noleftmargin">
                         <li ><h4 class="nomargin">葛</h4>
                            <ul>
                                 <li class="link-title"><a href="http://www.xn--fiq9l31jowkjovhn0a5mh.com/" target="_blank">中华葛氏宗亲网</a></li>
                            </ul>
                        </li>
                         <li ><h4 class="nomargin">高</h4>
                            <ul>
                                 <li class="link-title"><a href="http://www.gsjp.net/" target="_blank">高氏家谱网</a></li>
                                 <li class="link-title"><a href="http://tea.wfsh.tp.edu.tw/t0248_2/images/7/index.htm" target="_blank">高氏族谱</a></li>
                                 <li class="link-title"><a href="http://www.ycgao.com/" target="_blank">永城高氏网</a></li>
                                 <li class="link-title"><a href="http://www.tianxiagaoshi.com/Default.aspx" target="_blank">天下高氏</a></li>
                                 <li class="link-title"><a href="http://www.10000xing.cn/x153/" target="_blank">高氏家谱网_万家姓</a></li>
                                 <li class="link-title"><a href="http://www.cnsurname.com/thread.php?fid=259" target="_blank">高姓_中华百家姓论坛</a></li>
                            </ul>
                        </li>
                    </ul>

                    <h4 class="nomargin link-h4">H</h4>
                    <div class="line link-line"></div>
                    <ul class="iconlist nobottommargin noleftmargin">
                         <li ><h4 class="nomargin">何</h4>
                            <ul>
                                 <li class="link-title"><a href="http://www.sjhsw.com/Index.html" target="_blank">世界何氏网</a></li>
                                 <li class="link-title"><a href="http://www.hnhsh.cn/Index.asp" target="_blank">河南何氏宗亲总会</a></li>
                                 <li class="link-title"><a href="http://www.hsjzw.cn/default.aspx" target="_blank">泰兴何氏网</a></li>
                                 <li class="link-title"><a href="http://he.hxtongen.com/index.aspx" target="_blank">何氏家园</a></li>
                                 <li class="link-title"><a href="http://he.hxtongen.com/yx/Index" target="_blank">云霄何氏</a></li>
                                 <li class="link-title"><a href="http://js.hsjzw.cn/default.aspx" target="_blank">江苏何氏网</a></li>
                            </ul>
                        </li>
                         <li ><h4 class="nomargin">华</h4>
                            <ul>
                                 <li class="link-title"><a href="http://www.hszqw.com/Index.html" target="_blank">华氏宗亲</a></li>
                            </ul>
                        </li>
                         <li ><h4 class="nomargin">韩</h4>
                            <ul>
                                 <li class="link-title"><a href="http://www.hs-cq.cn/index.asp" target="_blank">韩氏春秋</a></li>
                            </ul>
                        </li>
                         <li ><h4 class="nomargin">胡</h4>
                            <ul>
                                 <li class="link-title"><a href="http://www.hszqw.com.cn/" target="_blank">胡氏宗亲网</a></li>
                                 <li class="link-title"><a href="http://www.zhhxzx.com/" target="_blank">中华胡姓网</a></li>
                                 <li class="link-title"><a href="http://www.hbhxw.com/" target="_blank">湖北胡姓网</a></li>
                                 <li class="link-title"><a href="http://www.sjhszq.com/index.asp" target="_blank">世界胡氏宗亲网</a></li>
                            </ul>
                        </li>
                     </ul>

                    <h4 class="nomargin link-h4">X</h4>
                    <div class="line link-line"></div>
                    <ul class="iconlist nobottommargin noleftmargin">
                        <li ><h4 class="nomargin">许</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.chinaxu.net/" target="_blank">中华许氏族谱</a></li>

                                <li class="link-title"><a href="http://www.chinaxushi.org/Index.html" target="_blank">中国许氏宗亲网</a></li>

                                <li class="link-title"><a href="http://www.0595xushi.com/Index.html" target="_blank">福建省闽南许氏宗亲联谊会</a></li>

                                <li class="link-title"><a href="http://www.gzxudi.com/cn/index.asp" target="_blank">广州许地许氏宗亲会</a></li>

                                <li class="link-title"><a href="http://www.xushi.org/" target="_blank">河南许由和许氏文化研究会</a></li>

                                <li class="link-title"><a href="http://www.mtxushi.cn/index_abc.asp" target="_blank">华夏许氏宗亲会</a></li>
                            </ul>
                        </li>
                        <li ><h4 class="nomargin">谢</h4>
                            <ul>
                                <li class="link-title"><a href="http://xh666.2000y.net/" target="_blank">谢氏家族</a></li>
                                <li class="link-title"><a href="http://www.chinaxieshi.cn/" target="_blank">中华谢氏网</a></li>
                                <li class="link-title"><a href="http://www.cyxie.org/index.asp" target="_blank">川渝谢氏文化研究会</a></li>
                            </ul>
                        </li>
                    </ul>

                    <h4 class="nomargin link-h4">Y</h4>
                    <div class="line link-line"></div>
                    <ul class="iconlist nobottommargin noleftmargin">
                        <li ><h4 class="nomargin">喻</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.cnyu.org/" target="_blank">喻氏宗亲网</a></li>
                                <li class="link-title"><a href="http://www.zhyszsyjh.cn/" target="_blank">中华喻氏族史研究会</a></li>
                            </ul>
                        </li>
                        <li ><h4 class="nomargin">严</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.zhuangyan.info/" target="_blank">华夏庄严宗亲网</a></li>
                                <li class="link-title"><a href="http://www.sjzyly.com/index.php" target="_blank">世界宗亲庄严联谊会</a></li>
                                <li class="link-title"><a href="http://www.zhuangyan.info/" target="_blank">华夏庄严宗亲网</a></li>
                                <li class="link-title"><a href="http://www.zjzyzq.com/zyzq/index.htm" target="_blank">紫金庄严宗亲网</a></li>

                            </ul>
                        </li>
                        <li ><h4 class="nomargin">杨</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.yangcn.com/Index.html" target="_blank">杨氏中国</a></li>

                                <li class="link-title"><a href="http://www.chinayang.org/" target="_blank">中华民族杨氏</a></li>

                                <li class="link-title"><a href="http://www.yangshi.org/" target="_blank">杨氏宗谱</a></li>

                                <li class="link-title"><a href="http://www.yangshi.org.cn/index.asp" target="_blank">潮汕杨氏网</a></li>

                                <li class="link-title"><a href="http://hbysw.2008red.com/" target="_blank">湖北杨氏网</a></li>

                                <li class="link-title"><a href="http://www.dhmjys.com/index.asp" target="_blank">达濠马滘杨氏网</a></li>

                                <li class="link-title"><a href="http://blog.sina.com.cn/s/articlelist_1649742465_5_1.html" target="_blank">中华杨氏在山西</a></li>

                                <li class="link-title"><a href="http://www.chinayangs.com/" target="_blank">中华杨氏网</a></li>
                            </ul>
                        </li>
                        <li ><h4 class="nomargin">于</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.yufamily.com.cn/index.php" target="_blank">于姓的天空</a></li>
                                <li class="link-title"><a href="http://bbs.yufamily.com.cn/index.php" target="_blank">于氏咱家论坛</a></li>
                                <li class="link-title"><a href="http://www.10000xing.cn/x082/" target="_blank">于氏家谱网_万家姓</a></li>
                                <li class="link-title"><a href="http://www.cnsurname.com/thread.php?fid=87" target="_blank">于姓_中华百家姓论坛</a></li>
                            </ul>
                        </li>
                        <li ><h4 class="nomargin">尤</h4>
                            <ul> <li class="link-title"><a href="http://you.hxtongen.com/" target="_blank">天下尤氏家园</a></li></ul>
                        </li>
                        <li ><h4 class="nomargin">颜</h4>
                            <ul>

                                <li class="link-title"><a href="http://www.yanshi.org/" target="_blank">颜氏地球村</a></li>
                                <li class="link-title"><a href="http://www.yszqw.org/" target="_blank">颜氏宗亲网</a></li>
                                <li class="link-title"><a href="http://www.njyans.com" target="_blank">颜氏文化</a></li>
                                <li class="link-title"><a href="http://www.bsysw.cn/" target="_blank">巴蜀颜氏文化网</a></li>
                                <li class="link-title"><a href="http://xzf.2000y.net/mb/2/index.asp?depid=8245" target="_blank">颜氏家谱</a></li>
                            </ul>

                        </li>
                    </ul>
                </div>
                <div class="col_one_fourth nobottommargin">
                    <h4 class="nomargin link-h4">J</h4>
                    <div class="line link-line"></div>
                    <ul class="iconlist nobottommargin noleftmargin">
                         <li ><h4 class="nomargin">江</h4>
                            <ul>
                                 <li class="link-title"><a href="http://www.jiang999.com/" target="_blank">中华江氏网</a></li>
                                 <li class="link-title"><a href="http://www.sjjiangshi.com/" target="_blank">世界江氏网</a></li>
                                 <li class="link-title"><a href="http://www.jiangs.cc/" target="_blank">江氏古国网</a></li>
                                 <li class="link-title"><a href="http://fjjslyw.com/fjjslyw/" target="_blank">福建江氏宗亲联谊网</a></li>
                            </ul>
                        </li>
                         <li ><h4 class="nomargin">金</h4>
                            <ul>
                                 <li class="link-title"><a href="http://www.zjzyzq.com/zyzq/index.htm" target="_blank">紫金庄严宗亲网</a></li>
                                 <li class="link-title"><a href="http://www.jszq.cn/index.asp" target="_blank">世界金氏宗亲会</a></li>
                                 <li class="link-title"><a href="http://www.hxtgjs.com/index.aspx" target="_blank">世界金氏宗亲联合会</a></li>
                                 <li class="link-title"><a href="http://jsxg.net.blog.163.com/" target="_blank">金氏寻根文化网</a></li>
                                 <li class="link-title"><a href="http://fjjslyw.com/fjjslyw/" target="_blank">金城魏氏宗亲网</a></li>
                            </ul>
                        </li>
                         <li ><h4 class="nomargin">蒋</h4>
                            <ul>
                                 <li class="link-title"><a href="http://www.chinajiang.org/" target="_blank">中华蒋氏宗亲网</a></li>
                                 <li class="link-title"><a href="http://www.worldjiang.com/" target="_blank">世界蒋氏文化网</a></li>
                                 <li class="link-title"><a href="http://www.jiangshizugen.com/index.asp" target="_blank">中华蒋氏祖根文化网</a></li>
                            </ul>
                        </li>
                         <li ><h4 class="nomargin">姜</h4>
                            <ul>
                                 <li class="link-title"><a href="http://www.zongpuwang.com/" target="_blank">中华姜姓宗亲网</a></li>
                                 <li class="link-title"><a href="http://13941549145.8.sunbo.net/index.php?xname=396IH51" target="_blank">姜氏族谱</a></li>
                            </ul>
                        </li>
                    </ul>

                    <h4 class="nomargin link-h4">K</h4>
                    <div class="line link-line"></div>
                    <ul class="iconlist nobottommargin noleftmargin">
                         <li ><h4 class="nomargin">孔</h4>
                            <ul>
                                 <li class="link-title"><a href="http://www.kong.org.cn/" target="_blank">孔氏宗亲网</a></li>
                            </ul>
                        </li>
                    </ul>

                    <h4 class="nomargin link-h4">L</h4>
                    <ul class="iconlist nobottommargin noleftmargin">
                        <li ><h4 class="nomargin">林</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.linshi.org/index.asp" target="_blank">世界林氏网</a></li>
                                <li class="link-title"><a href="http://www.04138.com/" target="_blank">中国林氏宗亲网</a></li>
                                <li class="link-title"><a href="http://www.bigan.cn/" target="_blank">林氏宗亲网</a></li>
                                <li class="link-title"><a href="http://www.linshizongqin.com/" target="_blank">林氏宗亲网</a></li>
                                <li class="link-title"><a href="http://www.zen97709.zen.co.uk/index.html" target="_blank">孙檀公新瓦屋忠孝堂林氏宗谱</a></li>
                                <li class="link-title"><a href="http://lin.5d6d.com/home.php" target="_blank">林氏论坛</a></li>
                            </ul>
                        </li>
                        <li ><h4 class="nomargin">廖</h4>
                            <ul>
                                <li class="link-title"><a href="http://liaos.no49.cuttle.com.cn/index.asp" target="_blank">世界廖氏宗亲网</a></li>
                                <li class="link-title"><a href="http://www.chinaliaoshi.com" target="_blank">廖氏家族网</a></li>
                                <li class="link-title"><a href="http://qyou.5d6d.com/" target="_blank">廖氏宗亲论坛</a></li>
                                <li class="link-title"><a href="http://liaoshi.5d6d.com/" target="_blank">宁都廖氏网</a></li>
                                <li class="link-title"><a href="http://lmlkjyy.blog.163.com/" target="_blank">廖氏通</a></li>
                            </ul>
                        </li>
                        <li ><h4 class="nomargin">吕</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.lszqw.com/" target="_blank">吕氏网</a></li>
                            </ul>
                        </li>
                        <li ><h4 class="nomargin">刘</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.liu-home.com/index.htm" target="_blank">汉家刘氏网</a></li>
                                <li class="link-title"><a href="http://13617083969.8.sunbo.net/" target="_blank">南昌梓溪刘氏互联网交流平台</a></li>
                                <li class="link-title"><a href="http://www.yiliu.net.cn/" target="_blank">北京一刘网</a></li>
                                <li class="link-title"><a href="http://www.pozhuangliushi.com/" target="_blank">泊庄刘氏网</a></li>
                                <li class="link-title"><a href="http://www.htliu.net/" target="_blank">刘氏家园</a></li>
                                <li class="link-title"><a href="http://liu972000.tf168.cn/" target="_blank">日照东关刘氏网</a></li>
                                <li class="link-title"><a href="http://www.zhlsw.com/" target="_blank">中华刘氏网（四川）</a></li>
                                <li class="link-title"><a href="http://www.jxlsw.com/" target="_blank">江西刘氏联谊总会网</a></li>
                            </ul>
                        </li>
                    </ul>
                    <h4 class="nomargin link-h4">M</h4>
                    <div class="line link-line"></div>
                    <ul class="iconlist nobottommargin noleftmargin">
                        <li ><h4 class="nomargin">毛</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.maoshi.com/" target="_blank">中华毛氏</a></li>
                            </ul>
                        </li>
                        <li ><h4 class="nomargin">孟</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.chinamengzi.net/" target="_blank">中国孟子网</a></li>
                                <li class="link-title"><a href="http://www.zjpxw.com/" target="_blank">南孟</a></li>
                                <li class="link-title"><a href="http://www.mengs.org/index.php" target="_blank">孟子传承网</a></li>
                                <li class="link-title"><a href="http://www.mengs.cn/index.asp" target="_blank">孟网</a></li>
                            </ul>
                        </li>
                        <li ><h4 class="nomargin">马</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.chinamashi.net/">马氏家族网</a></li>
                            </ul>
                        </li>
                    </ul>

                    <h4 class="nomargin link-h4">O</h4>
                    <div class="line link-line"></div>
                    <ul class="iconlist nobottommargin noleftmargin">
                        <li ><h4 class="nomargin">欧阳</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.oyzg.net" target="_blank">欧阳中国网</a></li>
                                <li class="link-title"><a href="http://ouyangcn.cn/" target="_blank">欧阳宗亲网</a></li>
                                <li class="link-title"><a href="http://www.ouyang.org.tw" target="_blank">欧阳欧氏宗亲会</a></li>
                                <li class="link-title"><a href="http://q.163.com/oyanfgan/" target="_blank">天下欧阳</a></li>
                                <li class="link-title"><a href="http://www.10000xing.cn/x911/" target="_blank">欧阳氏家谱网_万家姓</a></li>
                                <li class="link-title"><a href="http://www.cnsurname.com/thread.php?fid=415" target="_blank">欧阳姓_中华百家姓论坛</a></li>
                            </ul>
                        </li>
                    </ul>
                    <h4 class="nomargin link-h4">P</h4>
                    <div class="line link-line"></div>
                    <ul class="iconlist nobottommargin noleftmargin">
                        <li ><h4 class="nomargin">潘</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.dfpan.com.cn/" target="_blank">大阜潘氏宗亲网</a></li>
                                <li class="link-title"><a href="http://www.pans.cn/" target="_blank">潘氏宗亲网</a></li>
                            </ul>
                        </li>
                        <li ><h4 class="nomargin">彭</h4>
                            <ul>
                                <li class="link-title"><a href="http://pswhw.com/" target="_blank">彭氏文化网</a></li>
                                <li class="link-title"><a href="http://www.penghome.net/" target="_blank">彭家网络</a></li>
                                <li class="link-title"><a href="http://www.dbsps.cn/" target="_blank">大别山彭氏宗亲联谊会</a></li>
                                <li class="link-title"><a href="http://www.world-peng.org/" target="_blank">世界彭氏</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
                <div class="col_one_fourth col_last nobottommargin">
                    <h4 class="nomargin link-h4">D</h4>
                    <div class="line link-line"></div>
                    <ul class="iconlist nobottommargin noleftmargin">

                        <li ><h4 class="nomargin">窦</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.chinadoushi.cn/" target="_blank">中华窦氏网</a></li>
                                <li class="link-title"><a href="http://www.dswhw.com/" target="_blank">窦氏文化网</a></li>
                                <li class="link-title"><a href="http://blog.sina.com.cn/douxing" target="_blank">窦氏一家亲</a></li>
                            </ul>
                        </li>
                    </ul>

                    <h4 class="nomargin link-h4">Q</h4>
                    <div class="line link-line"></div>
                    <ul class="iconlist nobottommargin noleftmargin">
                        <li ><h4 class="nomargin">秦</h4>
                            <ul>
                                <li class="link-title"><a href="http://bigqin.com/" target="_blank">大秦文化</a></li>
                                <li class="link-title"><a href="http://www.myqin.net/" target="_blank">秦网</a></li>
                                <li class="link-title"><a href="http://www.jichanggarden.com/" target="_blank">无锡秦氏</a></li>
                                <li class="link-title"><a href="http://www.qinshi.org/" target="_blank">秦氏文化网</a></li>
                            </ul>
                        </li>
                        <li ><h4 class="nomargin">钱</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.qsly.org/" target="_blank">钱氏联谊</a></li>
                                <li class="link-title"><a href="http://www.qianhome.com/" target="_blank">世界钱网</a></li>
                                <li class="link-title"><a href="http://www.qianshi.cc/" target="_blank">岭南钱氏</a></li>
                            </ul>
                        </li>
                        <li ><h4 class="nomargin">戚</h4>
                            <ul>
                                <li class="link-title"><a href="http://ysqszp.com/" target="_blank">沂水戚氏宗谱</a></li>
                                <li class="link-title"><a href="http://www.whqszp.com/" target="_blank">威海戚氏族谱</a></li>
                                <li class="link-title"><a href="http://web.jlnu.edu.cn/sxsx/sy.html" target="_blank">长春戚氏宗谱网</a></li>
                                <li class="link-title"><a href="http://qishijy.dd.topzj.com" target="_blank">戚氏论坛</a></li>
                                <li class="link-title"><a href="http://gd.finance.topzj.com/" target="_blank">中华戚氏天下论坛</a></li>
                            </ul>
                        </li>
                    </ul>
                    <h4 class="nomargin link-h4">Z</h4>
                    <div class="line link-line"></div>
                    <ul class="iconlist nobottommargin noleftmargin">
                        <li ><h4 class="nomargin">张</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.changclan.org.sg/splash.htm" target="_blank">新加坡张氏总会</a></li>
                                <li class="link-title"><a href="http://www.worldzhang.net" target="_blank">世界张氏</a></li>
                                <li class="link-title"><a href="http://www.zhangshi.org/" target="_blank">中华张氏网</a></li>
                                <li class="link-title"><a href="http://zupu.zszh.org/start.asp" target="_blank">张氏家谱</a></li>
                                <li class="link-title"><a href="http://www.zhangxingshizu.com/" target="_blank">中华张姓网</a></li>
                                <li class="link-title"><a href="http://www.10000xing.cn/x024/" target="_blank">张氏家谱网_万家姓</a></li>
                                <li class="link-title"><a href="http://www.cnsurname.com/thread.php?fid=46" target="_blank">张姓_中华百家姓论坛</a></li>
                            </ul>
                        </li>
                        <li ><h4 class="nomargin">周</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.chinazhou.com/" target="_blank">中华周氏网</a></li>
                                <li class="link-title"><a href="http://www.chinazhou.cn/" target="_blank">中华周氏</a></li>

                                <li class="link-title"><a href="http://www.cnzhoushi.com/" target="_blank">中华周氏藤县驿站</a></li>

                                <li class="link-title"><a href="http://www.zhou.org.cn/" target="_blank">周姓家谱</a></li>

                                <li class="link-title"><a href="http://www.188mb.com/User/zhoushi/index.asp" target="_blank">中华湖北周氏联谊会</a></li>

                                <li class="link-title"><a href="http://www.zhoudunyi.net/index.html" target="_blank">周敦颐网</a></li>

                                <li class="link-title"><a href="http://www.zhoudunyi.org/" target="_blank">理学鼻祖周敦颐</a></li>

                                <li class="link-title"><a href="http://www.10000xing.cn/x005/" target="_blank">周氏家谱网_万家姓</a></li>
                            </ul>
                        </li>
                        <li ><h4 class="nomargin">詹</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.zhan.org.cn" target="_blank">詹氏网</a></li>

                                <li class="link-title"><a href="http://www.gdzhan.com/" target="_blank">岭南詹氏</a></li>

                                <li class="link-title"><a href="http://www.zhanzx.net" target="_blank">詹氏在线</a></li>

                                <li class="link-title"><a href="http://www.axzdr.com/" target="_blank">安溪詹氏网</a></li>
                                <li class="link-title"><a href="http://www.10000xing.cn/x254/" target="_blank">詹氏家谱网_万家姓</a></li>
                                <li class="link-title"><a href="http://www.cnsurname.com/thread.php?fid=259" target="_blank">詹姓_中华百家姓论坛</a></li>

                            </ul>
                        </li>
                        <li ><h4 class="nomargin">朱</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.zhuweb.cn/zhu/index.html" target="_blank">中华朱氏宗亲网</a></li>

                                <li class="link-title"><a href="http://www.guanyintang-zhu.com/" target="_blank">观音堂朱氏家谱网</a></li>
                                <li class="link-title"><a href="http://www.zhusi.cn/Index.asp" target="_blank">朱氏家族</a></li>

                                <li class="link-title"><a href="http://www.hgzhu.cn/" target="_blank">会里朱氏宗亲网</a></li>
                                <li class="link-title"><a href="http://www.zhuweb.cn/zhu/index.html" target="_blank">中华朱氏宗亲网</a></li>
                                <li class="link-title"><a href="http://www.guanyintang-zhu.com/" target="_blank">观音堂朱氏家谱网</a></li>
                                <li class="link-title"><a href="http://www.zhusi.cn/Index.asp" target="_blank" ti>朱氏家族</a></li>
                                <li class="link-title"><a href="http://www.hgzhu.cn/" target="_blank">会里朱氏宗亲网</a></li>
                            </ul>
                        </li>
                        <li ><h4 class="nomargin">邹</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.china-zou.com/" target="_blank">中华邹氏族谱</a></li>
                                <li class="link-title"><a href="http://www.zousw.com/" target="_blank">邹氏宗亲网</a></li>
                                <li class="link-title"><a href="http://www.zouworld.com/index.html" target="_blank">全球邹氏网</a></li>
                            </ul>
                        </li>
                        <li ><h4 class="nomargin">庄</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.zhuangyan.info/" target="_blank">华夏庄严宗亲网</a></li>
                                <li class="link-title"><a href="http://www.sjzyly.com/index.php" target="_blank">世界宗亲庄严联谊</a></li>
                                <li class="link-title"><a href="http://www.zhuangyan.info/" target="_blank">华夏庄严宗亲网</a></li>
                                <li class="link-title"><a href="http://www.zjzyzq.com/zyzq/index.htm" target="_blank">紫金庄严宗亲网</a></li>
                            </ul>
                        </li>
                        <li ><h4 class="nomargin">曾</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.hxzszqw.com/index.asp" target="_blank">海峡曾氏宗亲网</a></li>
                                <li class="link-title"><a href="http://www.tsangclansmen.hk/" target="_blank">旅港曾氏宗亲会</a></li>
                                <li class="link-title"><a href="http://www.rujia99.com/index.html" target="_blank">中华曾氏网</a></li>
                                <li class="link-title"><a href="http://www.zengshi.net/" target="_blank">曾氏宗亲网</a></li>
                                <li class="link-title"><a href="http://zengshijiayuan.com/" target="_blank">曾氏家园</a></li>
                                <li class="link-title"><a href="http://tsengz.org/" ta>雍睦堂曾氏家谱</a></li>
                                <li class="link-title"><a href="http://www.regenerating-universe.org/zengsingapore/" >曾</a></li>
                                <li class="link-title"><a href="http://www.hnzengshi.com/index.asp" target="_blank">海南曾氏网</a></li>
                            </ul>
                        </li>
                        <li ><h4 class="nomargin">章</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.zsjz.cc/" target="_blank">章氏家族</a></li>
                                <li class="link-title"><a href="http://www.czzswhyj.com/" target="_blank">池州章氏文化研究</a></li>
                                <li class="link-title"><a href="http://www.zhangzijun.com/" target="_blank">章氏文化研究</a></li>
                                <li class="link-title"><a href="http://www.yzwangs.com/" target="_blank">豫章王氏网</a></li>
                            </ul>
                        </li>
                        <li ><h4 class="nomargin">赵</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.zhaozu.net/" target="_blank">赵氏宗亲</a></li>
                                <li class="link-title"><a href="http://zhao2007.2000y.net/" target="_blank">赵氏宗谱网</a></li>
                                <li class="link-title"><a href="http://www.zhao-net.cn/indexzhao.asp" target="_blank">赵氏网</a></li>
                                <li class="link-title"><a href="http://www.lungkong.net/chaso/menu.asp" target="_blank">台北赵氏宗亲会</a></li>
                                <li class="link-title"><a href="http://www.zhao-net.cn/x1/upload/portal.php" target="_blank">赵氏网</a></li>
                            </ul>
                        </li>
                        <li ><h4 class="nomargin">郑</h4>
                            <ul>
                                <li class="link-title"><a href="http://www.zhengshi.org/" target="_blank">世界郑氏网</a></li>
                                <li class="link-title"><a href="http://www.zhengshi.ha.cn/" target="_blank">世界郑氏联谊中心</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>



            </div>
        </div>

    </section>

    {% include 'miniFooter.html' %}
</div>
{% include 'script.html' %}

</body>
</html>
