<div class="postcontent norightmargin nobottommargin clearfix" style="width: 100%!important;" id="mainDiv">
    <div class="form-process"></div>
    <div class="input-group bottommargin-xs">
        <span class="input-group-addon hidden-xs hidden-sm">日志标题</span>
        <input class="sm-form-control" type="text" placeholder="请输入日志标题，最多100个字" maxlength="100" id="title" name="title" autocomplete="false" onchange="changeTitle()">
        <span class="input-group-addon" style="opacity: 0;padding: 0;"></span>
        <div class="input-group-btn">
            <a href="javascript:void(0)" onclick="saveBlog(this)" class="userModify" style="margin: 0 5px 0 5px;"><i class="icon-upload" style="position: relative;top:1px;"></i><i class="icon-line-loader" style="display: none;"></i><span class="hidden-xs"> 提交</span></a>
            <a href="javascript:void(0)" onclick="viewDetail()" class="userModify" style="margin: 0 5px 0 0;"><i class="icon-display"></i><span class="hidden-xs"> 预览</span></a>
            <a href="javascript:void(0)" onclick="goBack('blog','{{current}}', 2)" class="userModify"><i class="icon-arrow-left2" style="position: relative;top:1px;"></i><span class="hidden-xs"> 返回</span></a>
        </div>

        <!--<div class="hidden-lg" style="display: inline-flex;">-->
        <!--<a href="javascript:void(0)" onclick="saveBlog(this)" class="userModifyMini"><i class="icon-upload"></i><i class="icon-line-loader" style="display: none;"></i></a>-->
        <!--<a href="javascript:void(0)" onclick="goBack('timeline','{{current}}')" class="userModifyMini"><i class="icon-arrow-left2" style="position: relative;top:1px;"></i></a>-->
        <!--</div>-->
    </div>
    <input type="hidden" id="pageCurrent" value="{{current}}">
    <div class="input-group bottommargin-xs visible-xs-inline-block">
        <span class="input-group-addon">可见范围</span>
        <div class="input-group-btn pull-left col_full nomargin" style="border:1px solid #ddd; height: 40px;">
            <input id="range-0" class="radio-style" name="range-group1" onchange="chooseRange(this)" type="radio"> 全网
            <input id="range-1" class="radio-style" name="range-group1" onchange="chooseRange(this)" type="radio" checked> 本人
            <input id="range-2" class="radio-style" name="range-group1" onchange="chooseRange(this)" type="radio"> 亲友
            <input id="range-3" class="radio-style" name="range-group1" onchange="chooseRange(this)" type="radio"> 姓氏
        </div>
    </div>

    <div class="input-group bottommargin-xs hidden-xs">
        <span class="input-group-addon" style="height: 40px;border-left: 1px solid #ddd;">可见范围</span>
        <div class="input-group-btn pull-left col_full nomargin" style="border:1px solid #ddd; height: 40px;">
            <input id="range-0" class="radio-style" name="range-group" onchange="chooseRange(this)" type="radio"> 全网
            <input id="range-1" class="radio-style" name="range-group" onchange="chooseRange(this)" type="radio" checked> 本人
            <input id="range-2" class="radio-style" name="range-group" onchange="chooseRange(this)" type="radio"> 亲友
            <input id="range-3" class="radio-style" name="range-group" onchange="chooseRange(this)" type="radio"> 姓氏
        </div>

        <span class="input-group-addon hidden-xs hidden-sm">&nbsp;可被分享&nbsp;</span>
        <div class="input-group-btn pull-left col_full col_last nomargin hidden-xs hidden-sm" style="border:1px solid #ddd;height: 40px;">
            <input type="radio" name="canShare1" class="radio-style" id="canShare0" onchange="chooseShare(this)">&nbsp;否&nbsp;
            <input type="radio" name="canShare1" class="radio-style" id="canShare1" onchange="chooseShare(this)" checked>&nbsp;是
        </div>
    </div>

    <div class="input-group bottommargin-xs hidden-lg hidden-md hidden-xs">
        <span class="input-group-addon">可被分享</span>
        <div class="input-group-btn pull-left col_full col_last nomargin" style="border:1px solid #ddd;height: 40px;">
            <input type="radio" name="canShare2" id="canShare0"  onchange="chooseShare(this)">&nbsp;否&nbsp;&nbsp;&nbsp;
            <input type="radio" name="canShare2" id="canShare1" onchange="chooseShare(this)" checked>&nbsp;是
        </div>
    </div>
    <div class="input-group bottommargin-xs visible-xs-inline-block">
        <span class="input-group-addon">可被分享</span>
        <div class="input-group-btn pull-left col_full col_last nomargin" style="border:1px solid #ddd;height: 40px;">
            <input type="radio" name="canShare" id="canShare0" onchange="chooseShare(this)">&nbsp;否&nbsp;&nbsp;&nbsp;
            <input type="radio" name="canShare" id="canShare1" onchange="chooseShare(this)" checked>&nbsp;是
        </div>
    </div>
    <div class="col_full bottommargin-xs noradius">
        <div class="col_full file-loading" dir=rtl>
            <input id="blogFiles" name="blogFiles[]" type="file" multiple data-show-upload="false"
                   data-browse-icon="<i class='icon-picture'></i>"
                   data-browse-label="请选择封面图片 (最多5张)"
                   accept="image/*">
        </div>
    </div>
    <div class="input-group nobottommargin col_full">
        <div id="blogContent" style="font-size: 15px;"></div>
    </div>
    <div class="input-group bottommargin-sm col_full">
        <p class="nopadding nomargin" style="font-style: italic;font-weight: 500;color: #9C721D;text-align: right;">请在文本框中输入日志详细内容，最多5000个字，还可以输入<span id="wordNumInfo">5000</span>个字。</p>
    </div>
</div>
</div>
