<!--<div class="postcontent nomargin col_full clearfix" s    <ul id="portfolio-filter" class="portfolio-filter clearfix" data-container="#portfolio">
<!-- #portfolio-filter end -->

<div id="portfolio" class="portfolio grid-container clearfix" style="min-height: 328px;">
    <input type="hidden" value="{{current}}" id="pageCurrent">
    <input type="hidden" value="{{total}}" id="pagetotal">

    {% if list.length == 0 %}
        <div class="panel-group nobottommargin well" id="nodata" align="center" style="height: 463px"><h3 style="padding: 9.5em 0;color: #9CA0A9;font-size: 1.6em;font-style: italic;">您还没有添加任何捐赠信息，赶紧去创建吧！</h3></div>
    {% else %}
    <article class="portfolio-item pf-uielements pf-media">
        <div class="portfolio-image" style="max-height: 270px;">
            <a href="portfolio-single.html">
                <img src="img/full-thumbs/14.jpg" alt="Console Activity">
            </a>
            <div class="portfolio-overlay">
                <a href="img/full-thumbs/14.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                <a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
            </div>
        </div>
        <div class="portfolio-desc">
            <h3><a href="portfolio-single.html">Console Activity</a></h3>
        </div>
    </article>


    <article class="portfolio-item pf-uielements pf-media">
        <div class="portfolio-image" style="max-height: 270px;">
            <a href="portfolio-single.html">
                <img src="img/full-thumbs/14.jpg" alt="Console Activity">
            </a>
            <div class="portfolio-overlay">
                <a href="img/full-thumbs/14.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                <a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
            </div>
        </div>
        <div class="portfolio-desc">
            <h3><a href="portfolio-single.html">Console Activity</a></h3>
        </div>
    </article>

    <article class="portfolio-item pf-uielements pf-media">
        <div class="portfolio-image" style="max-height: 270px;">
            <a href="portfolio-single.html">
                <img src="img/full-thumbs/14.jpg" alt="Console Activity">
            </a>
            <div class="portfolio-overlay">
                <a href="img/full-thumbs/14.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                <a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
            </div>
        </div>
        <div class="portfolio-desc">
            <h3><a href="portfolio-single.html">Console Activity</a></h3>
        </div>
    </article>

    <article class="portfolio-item pf-uielements pf-media">
        <div class="portfolio-image" style="max-height: 270px;">
            <a href="portfolio-single.html">
                <img src="img/full-thumbs/14.jpg" alt="Console Activity">
            </a>
            <div class="portfolio-overlay">
                <a href="img/full-thumbs/14.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                <a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
            </div>
        </div>
        <div class="portfolio-desc">
            <h3><a href="portfolio-single.html">ConsoleActivityConsole ActivityConsole Activity</a></h3>
        </div>
    </article>
    {% endif %}
</div>

<div class="noradius  clearfix" id="pageDiv" style="padding: 10px 0 0 0;" >
    <p class="pull-left userPage hidden-xs">显示第 <span id="start"></span> 到第 <span id="current"></span> 条记录，总共 <span id="total"></span> 条记录</p>
    <div id="pageInfo" class="pull-right">

    </div>
</div>

