

<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
                             {%include '../head.html' %}
<link href="/js/plugins/summernote/summernote.css" rel="stylesheet">
<link href="/js/plugins/bootstrap-fileinput/css/fileinput.css" rel="stylesheet"/>
<link href="/js/plugins/bootstrap-fileinput/css/fileinput-rtl.css" rel="stylesheet"/>
<style type="text/css">

    .typeError { background-color: red }

</style>
<body class="stretched sticky-footer" oncontextmenu=self.event.returnValue=true onselectstart="return true" data-animation-in="fadeIn" data-speed-in="1500" data-animation-out="fadeOut" data-speed-out="800">
<!--[if lt IE 8]>
<p class="browserupgrade">您正在使用 <strong>版本过低的</strong> 浏览器. 请到 <a href="http://browsehappy.com/">更新您的浏览器</a></p>
<![endif]-->
<div id="wrapper" class="clearfix">
    {%include '../nav.html' %}
    <section id="page-title" class="page-title-dark page-title-mini" style="background-color: #9c721d;">
        <div class="container clearfix nopadding">
            <h1>我要提问</h1>
            <ol class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li><a href="/question">专家咨询</a></li>
                <li class="active">提问</li>
            </ol>
        </div>
    </section>

    <section id="content">

        <div class="content-wrap nopadding topmargin bottommargin">

            <div class="container nopadding clearfix">

                <div class="postcontent norightmargin nobottommargin clearfix" style="width: 100%!important;">
                    <form id="addQuestionForm">
                        <input type="hidden" id="typeId" name="typeId"/>
                        <div class="input-group bottommargin-sm">
                            <span class="input-group-addon"><i class="icon-user" style="color: #095D85"></i></span>
                            <input class="sm-form-control" type="text" placeholder="请输入姓名，最多10个字" maxlength="10" id="username" name="username" value="{% if user && user.surname!= '' && user.realname != '' %}{{user.surname}}{{user.realname}}{% elseif user && user.nickname!= ''%}{{user.nickname}}{% elseif user %}{{user.username}}{% endif %}">
                            <span class="input-group-addon"><i class="icon-envelope-alt" style="color: #095D85"></i></span>
                            <input type="text" id="email" name="email" class="sm-form-control" placeholder="请输入邮箱地址" value="{% if user && user.email!= ''%}{{user.email}}{% endif %}">
                            <span class="input-group-addon"><i class="icon-phone3" style="color: #095D85"></i></span>
                            <input class="sm-form-control" type="text" placeholder="请输入联系电话" id="telphone" name="telphone" value="{% if user && user.phone!= ''%}{{user.phone}}{% endif %}">
                        </div>

                        <div class="input-group bottommargin-sm">
                            <span class="input-group-addon" id="chooseTagBtn" style="font-weight: 600;"><i class="icon-private-tags" style="color: #095D85"></i>&nbsp;&nbsp;请选择问题类型</span>
                            <div class="input-group-btn">
                                <button type="button" style="height: 40px;" class="btn btn-default dropdown-toggle t500" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    {% for tag in tags %}
                                    <li><a href="javascript:void(0)" onclick="chooseTag('{{tag._id.toString()}}',this)"><i class="{{tag.icon}}" style="color: #095D85"></i>&nbsp;&nbsp;{{tag.name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <input class="sm-form-control" type="text" placeholder="请输入标题，最多100个字" maxlength="100" id="title" name="title" autocomplete="false">
                        </div>

                        <div class="col_full bottommargin-sm noradius">
                            <div class="col_full file-loading" dir=rtl>
                            <input id="questionFiles" name="questionFiles[]" type="file" multiple data-show-upload="false"
                                   data-browse-icon="<i class='icon-picture' style='color:#555;'></i>"
                                   data-browse-label="请选择要上传的图片 (最多5张)"
                                   accept="image/*">
                            </div>
                        </div>
                    </form>
                    <div class="input-group nobottommargin col_full">
                        <div id="questionContent" style="font-size: 15px;" data-notify-position="top-full-width" data-notify-type="error" data-notify-timeout="3000"></div>
                    </div>
                    <div class="input-group bottommargin-sm col_full">
                        <p class="nopadding nomargin" style="font-style: italic;font-weight: 500;color: #095D85;text-align: right;">请在文本框中详细描述您需要咨询的内容，最多3000个字，还可以输入<span id="wordNumInfo">3000</span>个字。</p>
                    </div>

                    <div class="input-group nopadding  topmargin  col_full clearfix" style="margin-bottom:10px;">

                        <button class="nopadding nomargin button button-large btn-block button-darkblue btn"  type="button" onclick="addQuestion(this)"><i class="icon-line-loader icon-lg" style="display: none;" id="uploadingTag"></i><span id="uploadinTitle">提交</span></button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include '../miniFooter.html' %}
</div>
<div id="gotoTop" class="icon-angle-up"></div>
{% include '../script.html' %}

<script src="/js/plugins/bootstrap-fileinput/js/fileinput.js"></script>
<script src="/js/plugins/bootstrap-fileinput/js/locales/LANG.js"></script>
<script src="/js/plugins/bootstrap-fileinput/js/locales/zh.js"></script>
<script src="/js/plugins/summernote/summernote.js"></script>
<script src="/js/plugins/summernote/summernote-zh-CN.js"></script>
<script src="/js/private/question.js"></script>
</body>
</html>
