<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
                             {%include '../head.html' %}
<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css"/>
<link rel="stylesheet" href="/css/nivo-slider.css" type="text/css"/>
<body class="stretched sticky-footer" oncontextmenu=self.event.returnValue=true onselectstart="return true" data-animation-in="fadeIn"
      onload="initSlider(true)" data-loader="7" data-loader-color="#9c721d;">
<!--[if lt IE 8]>
<p class="browserupgrade">您正在使用 <strong>版本过低的</strong> 浏览器. 请到 <a href="http://browsehappy.com/">更新您的浏览器</a></p>
<![endif]-->
<div id="wrapper" class="clearfix">
    {% if !isShare %}
    {%include '../nav.html' %}
    <section id="page-title" class="page-title-dark page-title-mini" style="background-color: #9C721D;">
        <div class="container clearfix nopadding">
            <h1>详情查看</h1>
            {% if !isDetail %}
            <ol class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li><a href="{{url}}">{{title}}</a></li>
                <li class="active">详情</li>
            </ol>
            {% endif %}
        </div>
    </section>
    {% endif %}

    <section id="content">

        <div class="content-wrap nopadding topmargin bottommargin">

            <div class="container nopadding clearfix">

                <div class="single-post">
                    {% if !isShare %}
                    <!--<form id="blogDetail" method="post" action="/family">-->
                    <input type="hidden" value="{{title}}" id="qtitle" name="qtitle">
                    <input type="hidden" value="{{sortBy}}" id="sortBy" name="sortBy">
                    <input type="hidden" value="{{current}}" id="currentPage" name="currentPage">
                    <input type="hidden" value="{{shortUrl}}" id="shortUrl" name="shortUrl">
                    <input type="hidden" value="{{info.title}}" id="shareText" name="shareText">
                    <!--</form>-->
                    {% endif %}
                    <!-- Single Post
                    ============================================= -->
                    <div class="entry clearfix nomargin nobottompadding noborder">
                        <!-- Posts
                        ============================================= -->
                        <div class="entry-title">
                            <h2>{{info.title}}</h2>
                        </div>
                        <ul class="entry-meta clearfix">
                            <li><i class="icon-calendar3"></i>{{info.createStr}}</li>
                            <li>
                                {% if info.type == 'news' %}
                                <i class="icon-news"></i>资讯
                                {% elseif info.type == 'exhibition' %}
                                <i class="icon-display"></i>展览
                                {% elseif info.type == 'entry' %}
                                <i class="icon-globe"></i>百科
                                {% endif %}
                            </li>
                            <li><i class="icon-comments"></i><span id="commentNumMini">{{info.commentNum||0}}</span> 评论</li>
                            <li><i class="icon-private-eye-1"></i>{{info.viewNum||0}} 浏览</li>
                            {% if isShare %}
                            <li><i class="icon-like"></i>{{info.likeNum||0}} 点赞</li>
                            <li><i class="icon-star2"></i>{{info.collectionNum||0}} 收藏</li>
                            <li><i class="icon-share"></i>{{info.shareNum||0}} 分享</li>
                            {% endif %}
                            {% if !isShare %}
                            <div class="pull-right familyShare">
                                <a href="javascript:void(0)" onclick="likeNews('{{info._id.toString()}}', this)"><i class="icon-like"></i> 点赞 <span>{{info.likeNum||0}}</span></a>
                                &nbsp;<a href="javascript:void(0)" onclick="collectionNews('{{info._id.toString()}}',this)">
                                <i class="{% if info.collection == 1 %}icon-star3{%else%}icon-star2{%endif%}"></i> 收藏 <span>{{info.collectionNum||0}}</span></a>
                                <div class="bdsharebuttonbox pull-right">
                                    &nbsp;<a href="#" class="bds_more" data-cmd="more">&nbsp;<i class="icon-share"></i> 分享 <span>{{info.shareNum||0}}</span></a>
                                    {% if !isDetail %}&nbsp;<a href="{{url}}" style="padding-right: 10px;"><i class="icon-arrow-left2"></i> 返回</a>{% endif %}
                                </div>
                            </div>
                            {% endif %}
                        </ul>
                        {% if info.images.length != 0 %}
                        <div class="line topmargin bottommargin"></div>
                        <div class="entry-image">
                            <section id="slider" class="boxed-slider nopadding" data-autoplay="false" >
                                <div class="container nopadding clearfix">
                                    <div class="nivoSlider" data-lightbox="gallery">
                                        {% for image in info.images %}
                                        <a href="{{image}}" data-lightbox="gallery-item"><img class="image_fade"
                                                                                              src="{{image}}"
                                                                                              alt="封面"></a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </section>
                        </div>
                        {% endif %}

                        <div class="line"></div>

                        <div class="entry-content notopmargin">
                            {% autoescape false %}{{ info.content|url_decode }}{% endautoescape %}
                        </div>

                        <div id="comments" class="clearfix">

                            <h3 id="comments-title"><span id="commentNum">{{info.commentNum||0}}</span> 条评论</h3>

                            <!-- Comments List
                            ============================================= -->

                            <ol class="commentlist noborder clearfix" id="commentlist" >
                            </ol>

                            <div class="noradius clearfix" id="pageDiv" style="padding: 10px 0 0 0;" >
                                <p class="pull-left userPage hidden-xs">显示第 <span id="start"></span> 到第 <span id="current"></span> 条记录，总共 <span id="total"></span> 条记录</p>
                                <div id="pageInfo" class="pull-right"></div>
                            </div>


                            {% if !isShare %}

                            <div class="line"></div>
                            <div class="clear"></div>

                            <!-- Comment Form
                            ============================================= -->
                            <div id="respond" class="clearfix">

                                <h3>发表评论</h3>
                                <form class="clearfix" id="commentform">
                                    <div class="form-process"></div>
                                    <input type="hidden" value="{{info._id.toString()}}" id="qid">
                                    <div class="col_full">
                                        <textarea name="reply" id="reply" required dirname="评论内容不能为空" placeholder='请输入评论内容，最多1000个字。。。' maxlength="1000" rows="8" tabindex="4" style="padding: 10px;width: 100%;resize: none;border:1px solid #ddd;font-size: 1.2em;color:#666;"></textarea>
                                    </div>

                                    <div class="col_full nobottommargin">
                                        <button type="button" id="submit-button" tabindex="5" class="button button-3d noradius nomargin" onclick="addComment()">提交</button>
                                    </div>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if !isShare %}
    {% include '../miniFooter.html' %}
    {% endif %}
</div>
<div id="gotoTop" class="icon-angle-up"></div>
{% include '../script.html' %}
<script src="/js/jquery.nivo.js"></script>
<script src="/js/private/news.js"></script>
<!--{% if !isShare %}-->
<!--<script>-->
    <!--window._bd_share_config=-->
        <!--{-->
            <!--"common":-->
                <!--{-->
                    <!--"bdSnsKey":{}-->
                    <!--,"bdText":$('#shareText').val()-->
                    <!--,"bdUrl":$('#shortUrl').val()-->
                    <!--,"bdSign":'normal'-->
                    <!--,"bdMini":"3"-->
                    <!--,"bdMiniList":["qzone","tsina","bdysc","weixin","renren","tqq","bdxc","kaixin001","tqf","tieba","douban","bdhome","sqq","thx","ibaidu","meilishuo","mogujie","diandian","huaban","duitang","hx","fx","youdao","sdo","qingbiji","people","xinhua","mail","isohu","yaolan","wealink","ty","h163","evernotecn"]-->
                    <!--,"bdStyle":"0"-->
                    <!--,"bdSize":"16"-->
                    <!--,"bdCustomStyle":"/css/share.css"-->
                    <!--,"bdPopupOffsetLeft":-100-->
                    <!--,"bdPopupOffsetTop":0-->
                    <!--,"onBeforeClick":function (cmd, config) {-->
                    <!--console.log(cmd, config)-->
                <!--}-->
                    <!--,"onAfterClick":function (cmd, config) {-->
                    <!--$.ajax({-->
                        <!--type: 'put',-->
                        <!--url: '/family/blog/share/' + $('#qid').val() + '?source=' + cmd,-->
                        <!--success: function (result) {-->
                            <!--if (result.error || result.ignore) {-->
                                <!--return-->
                            <!--} else {-->
                                <!--$('.bds_more').find('span').html(result)-->
                            <!--}-->
                        <!--}-->
                    <!--})-->
                <!--}-->
                <!--}-->
            <!--,"share":{}-->
        <!--}-->
    <!--with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];-->
<!--</script>-->
<!--{% endif %}-->
</body>
</html>
